body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

h1, h2 {
  font-size: 48px;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background: transparent;
}

header .col-4 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header li {
  margin-right: 30px;
}

header .nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 3%;
}

.btn {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
}

/*Buttons with theme*/
.btn-primary {
  background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
  padding: 10px 20px;
  border-radius: 20px;
}

.btn-primary-circle {
  background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
  padding: 12px;
  border-radius: 100%;
}

.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

section#hero {
  background: url("../img/hero-section-bg.png") no-repeat center/cover;
  height: 130vh;
}

section#hero .hero-section {
  padding-top: 30vh;
}

#dishes .pizza-card {
  position: relative;
  padding: 5%;
  border: 2px solid #ECEEF6;
  border-radius: 15px;
}

#dishes .pizza-card .price {
  color: #121146;
  font-size: 24px;
}

#dishes .pizza-card .card-add {
  background-color: #fff;
  padding: 5px 15px 15px 15px;
  border-radius: 100%;
  position: absolute;
  left: 35%;
  top: 90%;
  border-bottom: 2px solid #ECEEF6;
}

#dishes .pizza-card .card-add .wrapper {
  padding: 15px 20px;
  border: 2px solid #ECEEF6;
  position: relative;
  border-radius: 50%;
  top: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

#dishes .pizza-card .card-add .wrapper i {
  background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#dishes .pizza-card .card-add .wrapper:hover {
  background: linear-gradient(287.74deg, #F58656 8.52%, #FE5626 92.72%);
}

#dishes .pizza-card .card-add .wrapper:hover i {
  color: #fff;
  -webkit-text-fill-color: #fff;
}

#dishes h2 {
  font-size: 48px;
}

footer {
  position: relative;
  margin-top: 5%;
  padding-top: 5%;
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

footer form {
  padding-top: 10%;
  justify-content: space-around;
}

footer form input {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
}

footer form button {
  padding: 10px 50px !important;
}

footer form button i {
  margin-left: 25%;
}

footer .downfooter {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
